<% content_for :side_menu do %>
    <%= render 'widgets/stats' %>
<% end %>
<h1>Карточная игра "Пьяница"</h1>
<%= form_tag('/table/new', {:method => :post}) do %>
    <%= button_tag('Новая игра', {class: 'btn btn-success btn-lg'}) %>
<% end %>
