<br/>
<div class="panel panel-primary">
  <div class="panel-heading">Статистика по сайту</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Количество законченых игр: <strong><%= Stat.finished_games %></strong></li>
      <li class="list-group-item">Количество текущих игр: <strong><%= Stat.current_games %></strong></li>
      <li class="list-group-item">Количество побед диллера: <strong><%= Stat.winnner_dealer_games %></strong></li>
      <li class="list-group-item">Количество побед игрока: <strong><%= Stat.winnner_user_games %></strong></li>
    </ul>
  </div>
</div>